body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: grid;
}
#container {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    height: auto;
    
}
#left-panel {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
    background-image: url("https://picsum.photos/600");
    text-align: right;
    background-size: cover;
}
.logo {
    background-image: url("odin-lined.png")
    flex: 4.5;
}
@font-face {
    font-family: Norse;
    src: url(./Norse-Bold.otf);
  }
.logo-text {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-family: Norse, Arial;
}

#right-container {
    height: 100%
}

#right-panel {
    width: 100%;
    height: 600px;
    display: flex; 
    justify-content: left
    padding: 20px;
}
.right-div {
    width: 100%;
    background-color: darkgray;
    padding: 20px;
    box-sizing: border-box;
    
}



.bottom {
    padding-top: 5rem;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 10px; /* Gap between input fields */
    padding-top: 3rem;
}

input {
    width: 100%; /* Make input fields occupy full width of their container */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
       
}
.overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.overlay {
   height: 200px;
   display: flex;
   background: rgba(110, 110, 110, 0.404);
   align-items: center;
   justify-content: center;

   /*
   top: 50%;
   left: 20%;
   transform: translate(-50%, -50%);
    */
}
#button {
    background-color: green;
    border-radius: 6px;
    
}

